<mat-toolbar matDialogTitle>
  <span> Confirmar eliminación </span>
  <span class="spacer"></span>
  <button mat-button class="mat-icon-button" (click)="cancelar()" aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<h4 class="mat-subheading-2">¿Está seguro que desea eliminar el {{elemento}}?</h4>
  <div>
    <button 
      mat-raised-button 
      color="primary"
      (click)="aceptar()">
      Guardar
    </button>
    <button
      mat-button color="primary" (click)="cancelar()">
        Cancelar
    </button>
  </div>