<mat-card class="post-card" *ngFor="let post of postList">
  <mat-progress-bar *ngIf="waitingServices" mode="indeterminate"></mat-progress-bar>
  <mat-card-header>
    <mat-card-title>{{post.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{postimage}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{post.body}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openPostForm('Editar', post)">EDITAR</button>
    <button mat-button (click)="openModalConfirm(post)">ELIMINAR</button>
  </mat-card-actions>
</mat-card>
<div class="botonera">
  <button mat-fab color="primary" (click)="openPostForm('Crear')">
    <mat-icon>add</mat-icon>
  </button>
</div>